 h2 {
  color: rgb(6, 10, 6);
  text-align: center;
  background-color: rgb(142, 153, 179);
}

header {
  height: 60px;
  background-image: url("https://bit.ly/2HCAHCx")
}
.info {
  color: rgb(39, 38, 38);
}

}
.info p{
  margin: 0;
  padding: 0;
}

#undefined {
  color: rgb(255, 0, 157);
} 

body {
  max-width: 1024px;
  margin: auto;
  height: 100%;
  background-image: url("https://bit.ly/2HHykhV");
  background-size: cover;
  background-position: left;
}
  
.contact {
  width: 100%;
  background-color: rgba(245, 222, 179, .7);
}

#profile {
 width: 240px;
 margin: 20px;
 padding: 5px;
 border: solid 1px grey;
 float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content {
  color:#18191a;
  background-color: rgba(245, 241, 179, 0.733)
}

.content ul, content p{
  font-size: 20px;
}


.navbar {
  box-sizing: border-box;
  padding: 20px;
 
  width: 100%;
  display: flex;
  justify-content:space-around;
  

}
.navbar li  {
  float: left;
  text-align: center;
  list-style: none;
  border-radius: 1px 20px;
 
}

.navbar a {
  display: block;
  padding: 8px;
  background-color: rgba(24, 33, 53, .6);
  color: rgb(85, 136, 75);
  
}
.navbar li a:hover {
  color: whitesmoke;
}


.name {
  box-sizing: border-box;
}

  .navbar li:nth-child(2) {
    background-color: green;
  }